body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px 20px;
  background: linear-gradient(90deg, #c2c3ca, #f0f0f0);
}
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 10px;
}

h1, h2 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

#ikigaiResult {
  margin-top: 20px;
}

#recapContainer {
  display: none;
  margin-top: 30px;
}

#recapContent {
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.suggestion {
  font-style: italic;
  color: #777;
  margin-top: 5px;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
}